// adaptacion acordeon preguntas frecuentes
.accordion{
  margin: 10px 0px;
}

.accordion-item{
  border: none;
  margin-bottom: 10px;
}
.accordion-body{
  margin-bottom: 10px;
}

.accordion-button {
  background-color: transparent;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: $secundario;
  background-color: $gris;
  font-weight: bold;
}

.accordion-button:focus{
  box-shadow: none;
  background-color: transparent;
}

// viñeta estilo flecha
.iconoLista {
  list-style: square inside url("../assets/imagenes/icono.svg");
}

.listaPreguntas{
  margin: 0px 30px;
  text-align: justify;
}
