$secundario: #FF8F00;
$azul-osc: #01333F;
$principal: #16254f;
$principal-osc: #131313;
$gris: #f6f6f6;
$negro: black;
$grad-footer: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
$bronce: #9C0101;
$plata: #898787;
$oro: #EAC300;
$diamante: #7A9E95;
$azul-gris: #212529;
$fuente1: Montserrat, sans-serif;
$fuente2: Dancing Script, sans-serif;
$tamFuente: 100%;
$ancho: 100%;
